body{
font-family: Arial, sans-serif;
background:#f4f4f4;
margin:0;
padding:0;
text-align:center;
}

header{
background:#0a84ff;
color:white;
padding:20px;
}

.container{
background:white;
width:90%;
max-width:500px;
margin:40px auto;
padding:20px;
border-radius:10px;
box-shadow:0 0 10px rgba(0,0,0,0.1);
}

input{
width:90%;
padding:10px;
margin:10px 0;
border:1px solid #ccc;
border-radius:5px;
}

button{
background:#0a84ff;
color:white;
border:none;
padding:12px 20px;
font-size:16px;
border-radius:5px;
cursor:pointer;
}

button:hover{
background:#0066cc;
}

footer{
margin-top:40px;
padding:15px;
background:#222;
color:white;
}

#download{
display:inline-block;
margin-top:20px;
padding:10px 20px;
background:green;
color:white;
text-decoration:none;
border-radius:5px;
}
.tools{
margin-top:20px;
display:flex;
flex-direction:column;
gap:10px;
}

.tools a{
display:block;
padding:10px;
background:#eee;
border-radius:5px;
text-decoration:none;
color:#333;
font-weight:bold;
}

.tools a:hover{
background:#ddd;
}
.navbar{
background:#222;
padding:10px;
display:flex;
justify-content:center;
gap:15px;
flex-wrap:wrap;
}

.navbar a{
color:white;
text-decoration:none;
font-weight:bold;
padding:8px 12px;
}

.navbar a:hover{
background:#0a84ff;
border-radius:5px;
}
/* Top Navigation */

.topnav{
display:flex;
justify-content:space-between;
align-items:center;
background:#4b5aa7;
padding:12px 15px;
color:white;
}

.logo{
font-size:20px;
font-weight:bold;
}

.menu-icon{
font-size:26px;
cursor:pointer;
}

/* Mobile Menu */

.navbar{
display:none;
flex-direction:column;
background:#ffffff;
text-align:left;
}

.navbar a{
display:block;
padding:12px;
text-decoration:none;
color:#333;
border-bottom:1px solid #ddd;
}

.navbar a:hover{
background:#f1f1f1;
}
header h1{
text-align:center;
margin-top:20px;
color:white;
}

header p{
text-align:center;
color:white;
margin-bottom:20px;
}
